.card {
    width: 300px;
    height: 350px;
    
    position: relative;
    
    box-shadow: 4px 8px 4px 0 rgba(0,0,0,0.6);
    background: #282C34;
    overflow: hidden;
    border-radius: 0 0 14px 14px;
}

.card__image {
    width: 6em;

    position: absolute;
    top: 0;
    left: 0;
}

.card__country {
    width: 180px;
    height: 45px;

    font-size: 1.4em;
    text-align: right;
    
    margin-left: 100px;
    padding: .5em .5em 1.5em 0;
    line-height: 1.2;
}

.card__stats {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 100%;
    height: 250px;
    padding: 0 80px;
}

.card__confirmed, .card__recovered, .card__critical, .card__death {
    text-align: left;
}

.card__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
}